* {
    margin: 0;
    color: red;
    background-color: rgb(250,250,250);
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 19fr;
    justify-items: center;
    height: 100vh;
}

navigation {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid red;
    width: 100%;
}

#arrow {
    text-align: center;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 0px 30px; */
    justify-content: center;
}

.home-random_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
}

.home-random_country {
    grid-row: 1 / span 1;
    border-color: red;
    border-style: solid;
    border-radius: 0px 0px 0px 50px;
    border-width: 0px 0px 1px 1px;
}

.home-random_flag {
    width: 85%;
    max-width: 300px;
    padding-top: 100px;
}
.home-random_nametag {
    padding: 20px;
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.home-random_random-info {
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
}

.home-random_reload {
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
}
