* {
    margin: 0;
    color: rgb(248, 18, 18);
    background-color: rgb(236, 236, 236);
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr;
    justify-items: center;
    align-items: center;
    height: 100svh;
    max-height: 100svh;
}

navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 5%;
    background-color: rgb(236, 236, 236);
    border-bottom: 1px solid red;
    transition: height 0.5s ease;
    overflow: hidden;
    z-index: 1000;
}

.navigationContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationContainer ul {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
}

.navigationContainer ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 20%;
    width: 75%;
}

.navigationContainer ul li:hover {
    border: 1px solid red;
    border-radius: 10px;
}

.naviHeaderContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.naviHeaderContainer h1 {
    font-size: 2rem;
}

.naviArrowsContainer {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s;
}

.naviArrow1,
.naviArrow2,
.naviArrow3 {
    background-color:rgba(255, 255, 255, 0);
    opacity: 30%;
    animation: arrowsNavigation 3s infinite;
    transition: translate 1s;
}

.naviArrow2 {
    animation-delay: 0.1s;
}
.naviArrow3 {
    animation-delay: 0.2s;
}

.rotateArrows {
    transform: rotate(180deg);
}

@keyframes arrowsNavigation {
    10% {
        transform: translateY(20%);
    }
    30% {
        transform: translateY(0);
    }
}

main {
    grid-row-start: 2;
    padding-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100%;

}

.home {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.randomCountry {
    background-size: auto 100%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5%;
    border-color: red;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-radius: 45px 0px 0px 0px;
    overflow: auto;
}

.randomCountry::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8099614845938375) 40%, rgba(255,255,255,1) 100%);
}

.randomCountry__flag {
    width: 85%;
    max-width: 300px;
    padding-top: 30px;
}

.capital {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.capital-info {
    text-align: center;
}

.capital-info__name {
    font-size: 1.6rem;
    font-family: "Nanum Myeongjo", serif;
}

.capital-info__localtime {
    font-size: 0.8rem;
    font-family: "Nanum Myeongjo", serif;
    color: black;
}

.capital-weather-conditions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.weather-condition {
    width: 50%;
    color: black;
    font-size: 1.2rem;
}

.weather-conditions__text {
    color: inherit;
    font-size: inherit;
}

.weather-conditions__temp {
    color: inherit;
    font-weight: bold;
}

.nameOfRandomCountry-content__nametag {
    padding: 20px;
    font-size: 1.5rem;
    padding-bottom: 30px;
    background-color: transparent;
    color: white;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}

.nameOfRandomCountry, 
.homeActions{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 27, 27);
    overflow: hidden;
    content-visibility: visible;
}
.homeActions{
    align-items: flex-start;
}

.nameOfRandomCountry-content {
    width: 80%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.nameOfRandomCountry-content {
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    border-radius: 0px 0px 45px 45px;
    align-items: center;
    flex-direction: column;
}
.homeButtons {
    height: 100%;
    width: 95%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather__img {
    height: 64px;
    width: 64px;
    max-height: 80px;
}

.homeButton {
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
    height: 45%;
    width: 45%;
}

.homeButton img {
    background-color: transparent;
    height: 80%;
    max-height: 80px;
}

.homeButtons__back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0%;
    background-color: rgb(199, 27, 27);
    width: 100%;
    overflow: hidden;
    animation-delay: 1s;
}
.homeButtons__back img {
    position: absolute;
    display: inherit;
    top: 5%;
    background-color: transparent;
    height: 90%;
}

.countryInfoBoard {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

/* 
______________________________________________ 
H
O
M
E

C

I
N
F
O
 ______________________________________________ 
 */
 .info-tag {
    font-size: 1.1rem;
 }

 .info-value {
    color: black;
    text-align: end;
    font-family: "Nanum Myeongjo", serif;
 }
/* 
______________________________________________ 
A
N
I
M
A
T
I
O
N
 ______________________________________________ 
 */


.animationHide {
    height: 20%;
    animation: hideSection forwards 0.5s ease;
}

.animationShow {
    height: 0%;
    animation: showSection forwards 0.5s 0.5s ease;
}

.animationShowByScale {
    animation: showByScale forwards 0.3s ease;
}

.animationHideByScale {
    animation: hideByScale forwards 0.2s ease;
}

.animationShowByScale2 {
    animation: showByScale forwards 0.8s ease;
}

.animationHideByScale2 {
    animation: hideByScale forwards 0.2s ease;
}
.animationShowByScale3 {
    animation: showByScale forwards 0.8s ease;
}

.animationHideByScale3 {
    animation: hideByScale forwards 0.2s ease;
}
.animationShowByScale4 {
    animation: showByScale forwards 0.3s ease;
}

.animationHideByScale4 {
    animation: hideByScale forwards 0.2s ease;
}

.showBackToReloadButton {
    height: 0%;
    animation: showButtons forwards 0.5s 0.5s ease;
}

.hideBackToReloadButton {
    height: 8%;
    animation: hideButtons forwards 0.5s ease;
}

.animationSlideUp {
    animation: slideUp forwards 0.7s ease;
}

.animationSlideDown {
    animation: slideDown forwards 0.5s ease;
}
@keyframes hideSection {
    100% {
        height: 0%;
        display: hide;
    }
}
@keyframes showSection {
    100% {
        display: flex;
        height: 20%;
    }
}

@keyframes showButtons {
    100% {
        display: flex;
        height: 8%;
    }
}

@keyframes hideButtons {
    100% {
        display: hide;
        height: 0%;
    }
}

@keyframes hideByScale {
    100% {
        transform: scale(0);
        display: none;
    }
}

@keyframes showByScale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        visibility: visible;
        transform: translateY(200%) scaleY(0);
    }
    100% {
        transform: translateY(0%) scaleY(1);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0%) scaleY(1);
    }
    100% {
        transform: translateY(200%) scaleY(0);
        visibility: hidden;
    }
}


.section-info {
    margin-top: 3rem;
    position: relative;
    height: 100%;
    overflow-y: hidden;
    width: 90%;
}

.info-tag {
    font-weight: 400;
    padding-top: 0.8rem;
    padding-left: 1rem;
}

.info-value {
    padding-bottom: 0.8rem;
    padding-right: 1rem;
}

.info-div {
    /* border-bottom: 1px solid black; */
    padding-bottom: 1rem;
}